/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #0d3d33;
}

.main {
  background-color: #66d5cd;
  padding: 40px 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.shedule-caption {
  font-weight: normal;
  margin-top: 54px;
}

.shedule-title {
  font-weight: normal;
  font-style: italic;
}

.shedule {
  max-width: 900px;
  text-align: center;
  min-height: 600px;
}

.shedule-column {
  background-color: #fff;
  padding: 0 44px;
  -webkit-box-shadow: 0 0 5px;
  box-shadow: 0 0 5px;
}
.crug {
  border-radius: 10px;
  opacity: 1;
}

.crug:hover {
  opacity: 0.6;
  cursor: pointer;
}

.subject {
  font-weight: bold;
  color: Teal;
}

#data_base:target,
#comp_graph:target,
#inet:target,
#inf:target,
#algo:target,
#proect:target {
  display: block;
}

#data_base,
#comp_graph,
#inet,
#inf,
#algo,
#proect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 1;
}

.is-open {
  display: inline-block;
}

.modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 90%;
  padding: 50px;
  line-height: 22px;
  background: #f9f9f9;
  border-radius: 3px;

  -webkit-box-shadow: 0 5px 15px black;

  box-shadow: 0 5px 15px black;
}

a.close_window {
  position: absolute;
  right: 10px;
  top: 4px;
  border: none;
  text-decoration: none;
}
a.close_window:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.footer {
  margin-top: 54px;
  text-align: center;
}

.caption {
  font-weight: normal;
}
.title {
  font-weight: normal;
  font-style: italic;
  margin-top: 30px;
}

@media (max-width: 1600px) {
  .shedule {
    min-height: 500px;
  }
  .footer {
    margin-top: 20px;
  }
}
